.dropdown{
    padding: 3px 2vh;
    font-weight: bold;

}
.dropdown-list{
    border: 1px solid gray;
    border-radius: 6px;
    padding: 0px 10%;
    position: absolute;
    z-index: 2;
    font-weight: 200;
    background: #fff;
}