.blur-img {
    position: absolute;
    width: 167px;
    height: 317px;
    left: 44px;
    top: 147.78px;
    background: rgba(14, 12, 13, 0.7);
    filter: blur(50px);
    transform: rotate(-5.67deg);
    @media screen and (max-width: 1368px) {
        width: 150px;
        height: 290px;
        left: 25px;
        top: 89.78px;
    }
}